<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Submit a Form</h1>
    <form action="/submit" method='post'>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" placeholder='Enter your name'>
        
        <label for="maths">Maths: </label>
        <input type="text" id="maths" name="maths" value=0>
        
        <label for="science">Science: </label>
        <input type="text" id="science" name="science" value=0>
        
        <label for="ml">ML: </label>
        <input type="text" id="ml" name="ml" value=0>
                
        <input type="submit" value="Submit">
    </form>
</body>
</html>